@model BethanysPieShop.ViewModels.HomeViewModel


    <h2>@Model.Title</h2>

    @foreach (var pie in Model.Pies)
    {
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                <h3>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@pie.Id">@pie.Name</a><!--Usando a funcao Details localizada no HomeController e usando id na rota pois na funcao Details o id é passado como parametro-->
                </h3>
                <p>@pie.ShortDescription</p>
                <h4>@Model.CurrentCategory</h4>
            </div>
        </div>
    </div>

    }
